@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

/* Remove browser CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #e6feaa; */
  background: #4ca1af; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #c4e0e5,
    #4ca1af
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #c4e0e5,
    #4ca1af
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: 'Chakra Petch', monospace;
}

.container {
  color: #44403c;
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: auto;
}

.title {
  font-size: 3rem;
  margin-top: 20px;
  text-align: center;
}

.details {
  font-size: 1.2rem;
  margin-top: 20px;
  text-align: center;
}

.input-label {
  font-size: 1.5rem;
  margin: 10px;
}

.input {
  background-color: #d4d4d8;
  height: 40px;
  width: 200px;
  border: 3px solid #44403c;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  padding-left: 5px;
}

#check-btn {
  background-color: #d4d4d8;
  height: 40px;
  width: 150px;
  margin: auto;
  margin-bottom: 30px;
  border: 3px solid #44403c;
  border-radius: 5px;
  font-size: 1.5rem;
}

#error-msg,
#return-msg {
  font-size: 1.5rem;
  text-align: center;
}

table {
  font-size: 1.5rem;
  border-collapse: collapse;
  text-align: center;
}

table caption {
  font-weight: 700;
  margin: 20px;
}

th,
td {
  padding: 0.3rem 0.4rem;
  border: 3px solid #44403c;
}

footer {
  font-size: 1.2rem;
  text-align: center;
  margin: 140px 0 0;
}

footer a {
  text-decoration: none;
}
